.main-exchange-container--tables{
    display: flex;
    width: 930px;
    margin: 0 auto;
}
.product-card--container{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}
.plans-container--slider{
    justify-content: center;
}
.bitcoin-img-container{
    background-image: url('../assets/img/bitcoinbaby\ 1.png');
}
.header--title-container h1{
    font-size: 3.3rem;

}
.header--title-container p{
    font-size: 1.7rem;
}
.header--title-container .header--button{
    left: calc(50% - 150px);
    width: 320px;
    font-size: 1.5rem;
}
.header--button span{
    background-image: url('../assets/icons/down-arrow.svg');
}